@model HRMS.Common
@{
    ViewBag.Title = "CreateSC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/Assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">

<div class="container-fluid">
    <div class="__top_head">
        <h3 class="all-md">Apply for Special</h3>
        <div class="btn_blk">
            <a href="/NotificationRequests/SpecialConsiderationIndex" class="btn btn-inverse-primary u-btn-3d ml-auto">
                Back
            </a>
        </div>
    </div>
    <div class="__blk">
        <form id="SCFormID">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Name</label>
                        <div class="col-sm-12">
                            <select class="form-control" required name="EmployeeId" id="Type" onchange="myFunction(this.value);">
                                <option disabled value="" selected="selected">Select Employee</option>
                                @foreach (var item in Model.EmployeeList)
                                {
                                    <option value="@item.Id">@item.FirstName @item.LastName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Designation</label>
                        <div class="col-sm-12">
                            <input type="text" name="txtDesignation" id="txtDesignation" class="form-control" readonly>
                            <input type="hidden" value="" name="DesignationId" id="DesignationId" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-8 col-form-label" for="exampleFormControlSelect1">Department</label>
                        <div class="col-sm-12">
                            <input type="text" name="txtDepartmentId" id="txtDepartmentId" class="form-control" readonly>
                            <input type="hidden" value="" name="DepartmentId" id="DepartmentId">
                        </div>
                    </div>
                </div>

                <div class="col-md-4" id="lastWorkingDateID">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Date</label>
                        <div class="col-sm-12">
                            <input required id="Date" name="Date" type="date" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-sm-8 col-form-label">Subject</label>
                        <div class="col-sm-12">
                            <textarea type="text" required name="Subject" class="form-control" placeholder="Enter subject"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-8 col-form-label">Request</label>
                        <div class="col-sm-12">
                            <textarea type="text" required name="Request" rows="15" class="form-control" placeholder="Request"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-12 text-right">
                    <button id="qualificationBtn" class="btn btn-primary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Content/Assets/js/formpickers.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<script>

    var SCObject = {};

    var full_url = document.URL; // Get current url
    var url_array = full_url.split('/') // Split the string into an array with / as separator
    var SCID = url_array[url_array.length - 1];  // Get the last part of the array (-1)
    if (isNaN(SCID)) SCID = 0;
    $(document).ready(function () {
        //$(window).on("load", function () {
        if (SCID > 0)
            $.ajax({
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                type: "POST",
                dataType: "json",
                url: `/NotificationRequests/LoadSCById/${SCID}`,
                success: function (response) {
                    debugger
                    const { SC, Date } = response;
                    SCObject = SC;
                    SCObject.Date = Date;
                    /*SCObject.LastWorkingDate = LastWorkingDate;*/

                    ToggleInputs();
                },
                error: function (error) {
                    $('#responseText').html(error.responseText);
                    debugger
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong.',
                    });
                },
                cache: false
            }).then(function (r) {
                PopulateTerminationForm($.parseJSON(JSON.stringify(SCObject)));

            })

        ToggleInputs();
    });

    function myFunction() {
        debugger
        var JobId = document.getElementById("Type").value;

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            data: { "JobId": JobId },
            url: "/EmployeeProfile/LoadTerminationEmployeeChange",
            success: function (data) {
                AutoFillTextBox(data);

            },
            error: function (error) {

            },
            cache: false
        });
        ToggleInputs();
    };

    function AutoFillTextBox(data) {
        for (const element of data) {
            $("#txtDesignation").val(element.Name).attr('disabled', 'disabled');
            $("#txtDepartmentId").val(element.dName).attr('disabled', 'disabled');
            $("#DesignationId").val(element.DesigId).attr('disabled', 'disabled');
            $("#DepartmentId").val(element.DepartId).attr('disabled', 'disabled');
        }
    }



    function PopulateTerminationForm(data) {
        $.each(data, function (key, value) {
            var $el = $(`[name="${key}"]`),
                type = $el.attr('type');
            if ($el.length > 0)
                switch (type) {
                    case 'checkbox':
                        $el.attr('checked', value);
                        break;
                    case 'radio':
                        $el.attr('checked', value);
                        break;
                    case 'date':
                        debugger
                        $el.val(value);
                        break;
                    default:
                        $el.val(value);
                }
        });
        debugger

    }

    //$('#selectType').on('change', function (e) {
    //    debugger
    //    var optionSelected = $("option:selected", this);
    //    var valueSelected = this.value;
    //    if (valueSelected == 1) {
    //        $("#lastWorkingDateInputId").attr('required', false);
    //        debugger
    //        $('#lastWorkingDateID').hide();


    //        $('#dateId').show();
    //        $('#dateId').attr('required', true);
    //        $('#terminationById').show();
    //        $('#terminationById').attr('required', true);
    //    } else {
    //        $('#dateInputId').attr('required', false);
    //        debugger
    //        $('#dateId').hide();
    //        $('#terminationBYSelectId').attr('required', false);
    //        $('#terminationById').hide();

    //        $('#lastWorkingDateID').show();
    //        $('#lastWorkingDateID').attr('required', true);
    //    }
    //});
    //});


    function ToggleInputs() {
        if (SCObject.Type == 1) {
            $("#lastWorkingDateInputId").attr('required', false);
            debugger
            $('#lastWorkingDateID').hide();


            $('#dateId').show();
            $('#dateId').attr('required', true);
            $('#terminationById').show();
            $('#terminationById').attr('required', true);
        } else {
            $('#dateInputId').attr('required', false);
            debugger
            $('#dateId').hide();
            $('#terminationBYSelectId').attr('required', false);
            $('#terminationById').hide();

            $('#lastWorkingDateID').show();
            $('#lastWorkingDateID').attr('required', true);
        }
    }
    $('#SCFormID').submit(function (e) {
        debugger
        e.preventDefault();
        onAddSpecialConsideration();
    });
    function onAddSpecialConsideration() {
        debugger
        var SCFormDataArray = $("#SCFormID").serializeArray();
        SCObject = {};

        $.each(SCFormDataArray, function () {
            var nameParts = this.name.split('[');
            if (nameParts.length == 1) {
                if (SCObject[this.name] !== undefined) {
                    if (!SCObject[this.name].push) {
                        SCObject[this.name] = [SCObject[this.name]];
                    }
                    SCObject[this.name].push(this.value || '');
                } else {
                    SCObject[this.name] = this.value || '';
                }
            }
            else {
                $.each(nameParts, function (index) {
                    nameParts[index] = this.replace(/\]$/, '');
                });
                var arrItem = this;
                var temp = SCObject;
                $.each(nameParts, function (index) {
                    var next;
                    var nextNamePart;
                    if (index >= nameParts.length - 1)
                        next = arrItem.value || '';
                    else {
                        nextNamePart = nameParts[index + 1];
                        if (trim(this) != '' && temp[this] !== undefined)
                            next = temp[this];
                        else {
                            if (trim(nextNamePart) == '')
                                next = [];
                            else
                                next = {};
                        }
                    }

                    if (trim(this) == '') {
                        temp.push(next);
                    } else
                        temp[this] = next;

                    temp = next;
                });
            }
        });

        var desid = document.getElementById("DesignationId").value;
        var DepartmentId = document.getElementById("DepartmentId").value;
        SCObject.SCID = SCID;
        SCObject.DesignationId = desid;
        SCObject.DepartmentId = DepartmentId;
        debugger
        $.ajax({
            async: false,
            traditional: true,
            type: "POST",
            data: JSON.stringify(SCObject),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/NotificationRequests/InsertUpdateSC",
            success: function (response) {
                Swal.fire({
                    icon: 'Info',
                    title: 'Record Saved',
                    text: 'Record Save Successfuly.',
                }).then(function () {
                    window.location.replace(`/NotificationRequests/SpecialConsiderationIndex`);
                });
            },
            error: function (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong.',
                });
            },
            cache: false
        });
    }
</script>

