@{
    ViewBag.Title = "Home Page"; 
} <div class="__index">
    <!--<div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Region chart</h4>
                            <div class="google-chart-container">
                                <div id="regions-chart" class="google-charts"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="container-fluid">
        <div class="__blk">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is an open-source, server-side web-application framework designed for web development to produce dynamic web pages. It was developed by Microsoft to allow programmers to build dynamic web sites, applications and services.</p>
            <div class="btn_blk">
                <a href="https://asp.net" class="btn btn-primary btn-lg">Learn More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 __inner">
                <h3>Getting started</h3>
                <p> ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and gives you full control over markup for enjoyable, agile development. </p>
                <div class="btn_blk"><a class="btn btn_link text-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more <i class="mdi mdi-arrow-right ml-2"></i></a></div>
            </div>
            <div class="col-md-4 __inner">
                <h3>Get more libraries</h3>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <div class="btn_blk"><a class="btn btn_link text-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more <i class="mdi mdi-arrow-right ml-2"></i></a></div>
            </div>
            <div class="col-md-4 __inner">
                <h3>Web Hosting</h3>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <div class="btn_blk"><a class="btn btn_link text-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more <i class="mdi mdi-arrow-right ml-2"></i></a></div>
            </div>
        </div>
    </div>
</div>