
@{
    ViewBag.Title = "AddAllowancesDeduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- base:css -->
<link rel="stylesheet" href="~/Content/Assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/Content/Assets/vendors/base/vendor.bundle.base.css">
<!-- endinject -->

<link href="~/Content/Assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
<!-- End plugin css for this page -->

<link rel="stylesheet" href="~/Content/Assets/vendors/select2/select2.min.css">
<link rel="stylesheet" href="~/Content/Assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">

<!-- inject:css -->
<link href="~/Content/Assets/css/vertical-layout-light/style.css" rel="stylesheet" />

<link href="~/Content/Assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/Content/Assets/css/Applied.css" rel="stylesheet" />



<div class="container">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Allowances & Deduction</h4>
                            </div><br />


                            @*<form class="forms-sample" id="EmployeeForm">*@

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Code</label>
                                        <input type="text" class="form-control" id="txtCode"  placeholder="Code" readonly>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Allowance</label>
                                        <select class="form-control" id="DDLAllowance">
                                            <option value="-1" selected="selected">Select Allowance</option>
                                        </select>

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Percentage</label>
                                        <input type="text" class="form-control" name="Percentage" id="txtPercentage"  placeholder="Enter Percentage">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">Amount</label>
                                        <input type="text" class="form-control" name="Amount" id="txtAmount"  placeholder="Enter Amount">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label">GLCode</label>
                                        <input type="text" class="form-control" name="GLCode" id="txtGLCode" placeholder="Enter GL Code">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-8 col-form-label">Effect</label>
                                        <select class="form-control" id="DDLEffect">
                                            <option value="-1" selected="selected">Select Effect</option>
                                            <option value="Add">Add</option>
                                            <option value="Less">Less</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-2">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="Active" checked="" id="Activechk">
                                            Active
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div id="divAddTask">
                                <button type="button" class="btn btn-inverse-primary u-btn-3d  my-auto ml-auto" id="AddTask" onclick="SaveData();"><i class="fas fa-plus tm-fa-plus"></i>Add</button>
                            </div>
                            @*</form>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <!-- base:js -->
    <script src="~/Content/Assets/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Content/Assets/js/off-canvas.js"></script>
    <script src="~/Content/Assets/js/hoverable-collapse.js"></script>
    <script src="~/Content/Assets/js/template.js"></script>
    <script src="~/Content/Assets/js/settings.js"></script>
    <!-- endinject -->
    <script src="~/Content/Assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Assets/js/todolist.js"></script>

    <script src="~/Content/Assets/js/formpickers.js"></script>
    <!-- plugin js for this page -->


    <script src="~/Content/Assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/Assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/Content/Assets/vendors/select2/select2.min.js"></script>
    <script src="~/Content/Assets/js/select2.js"></script>

    <script>

        $(document).ready(function () {
            LoadingCode()
            GetAllowancesDDL();

            var full_url = document.URL; // Get current url
            var url_array = full_url.split('/') // Split the string into an array with / as separator
            var ID = url_array[url_array.length - 1];  // Get the last part of the array (-1)

            $('#DDLAllowance').select2({
                selectOnClose: true
            });
            $('#DDLEffect').select2({
                selectOnClose: true
            });

            if (!isNaN(ID)) {
                Mode = "Update";
                $("#AddTask").hide();
                $(".updateTask").hide();
                $("#divAddTask").append(" <button type='button' class='btn btn-inverse-primary  my-auto ml-auto updateTask' id='updateTask' onclick='UpdateLeaveRequest(" + ID + ");'>Update</button>");
                
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/PayRoll/EditAllowancesDeduction/" + ID,
                    success: onSuccessEditDetails,
                    error: function (error) {
                        alert("error", error);
                    },
                    cache: false
                });

            }

        });

        function LoadingCode() {
            debugger;
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/PayRoll/AutoCodeGenrateAllowncesDeductions",
                success: function (data) {
                    console.log(data);
                    $("#txtCode").val(data);
                },
                error: function (error) {

                },
                cache: false
            });
        }





        function onSuccessEditDetails(data) {
            $("#DDLAllowance").val(data.FK_AllowanceId).select2();
            $("#DDLEffect").val(data.Effect).select2();
            $("#txtPercentage").val(data.Percentage);
            $("#txtCode").val(data.Code);
            $("#txtGLCode").val(data.GLCode);
            $("#txtAmount").val(data.Amount);
            $("#Activechk").prop('checked', data.IsActive);
        }


        function SaveData() {

            var Code = $('#txtCode').val();
            var DDLAllowance = $("#DDLAllowance").val();
            var DDLEffect = $("#DDLEffect").val();
            var Percentage = $('#txtPercentage').val();
            var Amount = $('#txtAmount').val();
            var GLCode = $('#txtGLCode').val();
            var Active = $('#Activechk').is(":checked");


            if (DDLAllowance == null || DDLAllowance == -1 || DDLAllowance == "") {
                Swal.fire({
                    icon: 'warning',
                    text: 'Please Select Allowance!'
                });
                return false;
            }

            if (DDLEffect == null || DDLEffect == -1 || DDLEffect == "") {
                Swal.fire({
                    icon: 'warning',
                    text: 'Please Select Leave Type!'
                });
                return false;
            }

            //if (Reason == null || Reason == 'string' || !Reason.trim()) {

            //    Swal.fire({
            //        icon: 'warning',
            //        dangerMode: true,
            //        text: 'Please Fill Reason!'
            //    });
            //    return false;
            //}


            var Data = JSON.stringify(
                {
                    FK_AllowanceId: DDLAllowance,
                    Effect: DDLEffect,
                    Code: Code,
                    Percentage: Percentage,
                    Amount: Amount,
                    GLCode: GLCode,
                    IsActive: Active
                });
            $.ajax({
                type: "POST",
                data: Data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/PayRoll/AddAllowancesDeduction",
                success: onSuccessAddManagement,
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });
                },
                cache: false
            });

        }

        function onSuccessAddManagement(data) {
            Swal.fire({
                icon: 'info',
                title: 'Info',
                text: 'Your work has been Save.',
            }).then(function () {
                window.location.href = "https://localhost:44300/PayRoll/AllowancesDeduction"

            });
            Mode = "";
        }


        function UpdateLeaveRequest(id) {

            var Code = $('#txtCode').val();
            var DDLAllowance = $("#DDLAllowance").val();
            var DDLEffect = $("#DDLEffect").val();
            var Percentage = $('#txtPercentage').val();
            var Amount = $('#txtAmount').val();
            var GLCode = $('#txtGLCode').val();
            var Active = $('#Activechk').is(":checked");

            var Data = JSON.stringify(
                {
                    Id:id,
                    FK_AllowanceId: DDLAllowance,
                    Effect: DDLEffect,
                    Code: Code,
                    Percentage: Percentage,
                    Amount: Amount,
                    GLCode: GLCode,
                    IsActive: Active
                });
            $.ajax({
                type: "POST",
                data: Data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/PayRoll/UpdateAllowancesDeduction",
                success: onSuccessUpdateManagement,
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });
                },
                cache: false
            });

        }

        function onSuccessUpdateManagement(data) {
            Swal.fire({
                icon: 'info',
                title: 'Info',
                text: 'Your work has been Update!.',
            }).then(function () {
                window.location.href = "https://localhost:44300/PayRoll/AllowancesDeduction"

            });
            Mode = "";

        }


        function GetAllowancesDDL() {

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/PayRoll/AllowanceList",
                success: function (data, status) {

                    if (data != "") {

                        $('#DDLAllowance').empty();
                        $('#DDLAllowance').append('<option value="-1" selected disabled>Select Allowance</option>');
                        $.each(data, function (i, tweet) {
                            $('#DDLAllowance').append('<option value="' + data[i].Id + '">' + data[i].Name + '</option>');

                        });

                    }

                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });
                },
                cache: false,
                async: false

            });
        }


    </script>

}

