
@{
    ViewBag.Title = "OverTimeSetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- base:css -->
<link rel="stylesheet" href="~/Content/Assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/Content/Assets/vendors/base/vendor.bundle.base.css">
<!-- endinject -->
<!-- plugin css for this page -->
@*<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
<link href="~/Content/Assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet" />

<!-- End plugin css for this page -->
<!-- inject:css -->
<link href="~/Content/Assets/css/vertical-layout-light/style.css" rel="stylesheet" />

<link href="~/Content/Assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="~/Content/Assets/css/Region.css" rel="stylesheet" />
<br />
<br />

<div class="container">
    <!-- Button trigger modal -->
    @*<div class="row my-3">
            <div class="col-sm-12">
                <button type="button" class="btn btn-inverse-primary u-btn-3d  d-block ml-auto" data-toggle="modal" data-target="#CountryModal" onclick="clearfields()"><i class="fas fa-pen md-fa-pen"></i> Create</button>
            </div>
        </div>*@


    @*<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#CountryModal" onclick="clearfields()"><i class="fas fa-pen md-fa-pen"></i> Create</button>*@

    <!-- Modal -->
    <div class="modal fade" id="CountryModal" tabindex="-1" role="dialog" aria-labelledby="CountryModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header">
                    <h4 class="modal-title" style="color:white">Add/Update overtTimesetup</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group g-mb-30">
                                <label class="g-mb-10 md-name" for="inputGroup-1_1"> Over Time Type</label> <span style="color:red">*</span>
                                <div class="g-pos-rel">
                                    <input id="OverTimeType" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="text" placeholder=" Enter Over Time Type" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group g-mb-30">
                                <label class="g-mb-10 md-name" for="inputGroup-1_1"> Over Time Rate</label> <span style="color:red">*</span>
                                <div class="g-pos-rel">
                                    <input id="OverTimeRate" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10 md-name-input" type="text" placeholder="Enter Over Time Rate" onkeypress=" return isNumberKey(event);">
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-sm-12 col-md-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" checked="" id="Activechk">
                                    Active
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" id="divAddTask">
                    <button type="button" class="btn btn-inverse-primary btn-fw u-btn-3d  my-auto ml-auto" id="AddTask" onclick="SaveData();"><i class="fas fa-plus tm-fa-plus"></i>Add</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Country List -->
    <div class="row">
        <div class="col-12">
            <h3 class="all-md">Over Time Setup List</h3>
            <hr />
            <button type="button" class="btn btn-inverse-primary u-btn-3d  d-block ml-auto" data-toggle="modal" data-target="#CountryModal" onclick="clearfields()"><i class="fas fa-plus tm-fa-plus"></i> Create</button>
            <br />
            <div class="table-responsive-xl table-bordered cell-border g-mb-40" id="AllRegionsList"></div>
        </div>

    </div>
    <!-- Country List ends -->
    <!-- container-scroller -->
</div>


@section scripts{
    <!-- base:js -->
    <script src="~/Content/Assets/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Content/Assets/js/off-canvas.js"></script>
    <script src="~/Content/Assets/js/hoverable-collapse.js"></script>
    <script src="~/Content/Assets/js/template.js"></script>
    <script src="~/Content/Assets/js/settings.js"></script>
    <!-- endinject -->
    <script src="~/Content/Assets/js/todolist.js"></script>

    <!-- plugin js for this page -->
    @*<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>*@

    <script src="~/Content/Assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Content/Assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    @*<script src="~/Content/Assets/js/data-table.js"></script>*@
    <!-- End custom js for this page-->

    <script>

        $(document).ready(function () {
            $("#AddTask").show();
            $(".updateTask").hide();
            LoadingLoanTypeDetails();

        });


        function LoadingLoanTypeDetails() {

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/PayRoll/GetOverTimeSetupsList",
                success: onSuccessLoanTypeList,
                error: function (error) {

                },
                cache: false
            });
        }
        function onSuccessLoanTypeList(data) {
            $("#AllRegionsList").empty();
            $("#AllRegionsList").append("<table id='AlldatadetailTable' class='table u-table--v3 g-color-black'>");
            $("#AlldatadetailTable").empty();
            $("#AlldatadetailTable").append("<thead>" +
                "<tr class='ob_gC'>" +
                /*  "<th>ID</th>" +*/
                "<th>Over Time Type</th>" +
                "<th>Over Time Rate</th>" +
                
                "<th class='last-td' style='width:35px'>Action</th> " +
                "</tr>" +
                "</thead>" +
                "<tbody id='values1'>");
            if (data.length > 0) {
                var val = '';

                for (var i = 0; i < data.length; i++) {
                    val = "<tr>" +
                        /*"<td class='first-td'>" + data[i].Id + "</td>" +*/
                        "<td>" + data[i].OverTimeType + "</td>" +
                        "<td>" + data[i].OverTimeRate + "</td>" +
                       
                        "<td class='last-td'><a class='btn btn-default btn-sm' title='Edit' style='cursor: pointer;' onclick='LoadingEditData(" + data[i].Id + ")' data-toggle='modal' data-target='#CountryModal'><i class='fa fas fa-pencil'></i></a><a class='btn  btn-sm' title='Delete' style='cursor: pointer;' onclick = Delete(" + data[i].Id + ") > <i class='fa fa-trash'></i></a > "
                        // "<td class='last-td'><label class='form-check-inline u-check g-mr-20 mx-0 mb-0'> <input class='g-hidden-xs-up g-pos-abs g-top-0 g-right-0' id='btnEdit' onclick='LoadingEditData(" + data.data[i].pK_MetaDataID + ")' name = 'radGroup1_1' data-toggle='modal' data-target='#myModal'><i class='fa fa-pencil'></i></label ></td>" +
                        + "</tr></tbody>";


                    $('#values1').append(val);
                }
            }


            $('#AlldatadetailTable').dataTable({
                "bProcessing": true,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "responsive": true,
                "ordering": true
            });

        }

        function LoadingEditData(ID) {
            console.log(ID);
            Mode = "Update";
            $("#AddTask").hide();
            $(".updateTask").hide();
            $("#divAddTask").append(" <button type='button' class='btn btn-primary create-ml my-auto ml-auto updateTask' id='updateTask' onclick='UpdateLoanTypeData(" + ID + ");'>Update</button>");

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/PayRoll/EditOverTimeSetup/" + ID,
                success: onSuccessLoanTypeDetails,
                error: function (error) {
                    alert("error", error);
                },
                cache: false
            });

        }

        function onSuccessLoanTypeDetails(data) {

            
            $("#OverTimeType").val(data.OverTimeType);
            $('#OverTimeRate').val(data.OverTimeRate);
            $("#Activechk").prop('checked', data.Active);
        }

        function SaveData() {
            
            var OverTimeType = $("#OverTimeType").val();
            var OverTimeRate = $("#OverTimeRate").val();
            var Active = $('#Activechk').is(":checked");
            if (OverTimeType == null || OverTimeType == 'string' || !OverTimeType.trim()) {

                Swal.fire({
                    icon: 'warning',
                    dangerMode: true,
                    text: 'Please Fill All fields!'
                });
                return false;
            }

            var Data = JSON.stringify(
                {
                    OverTimeType: OverTimeType,
                    OverTimeRate: OverTimeRate,
                    Active: Active
                });
            $.ajax({
                type: "POST",
                data: Data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/PayRoll/AddOverTimeSetup",
                success: onSuccessAddManagement,
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong to Insert new Record!',
                    });
                },
                cache: false
            });

        }

        function onSuccessAddManagement(data) {
            Swal.fire({
                icon: 'info',
                title: 'Info',
                text: 'Your work has been saved.',
            }).then(function () {
                location.reload(true);
            });
            Mode = "";
            clearfields();
            LoadingLoanTypeDetails();

        }

        function UpdateLoanTypeData(ID) {
            Mode = "Update";
            var OverTimeType = $("#OverTimeType").val();
            var OverTimeRate = $("#OverTimeRate").val();
            var Active = $('#Activechk').is(":checked");
            var Data = JSON.stringify(
                {
                    Id: ID,
                    OverTimeType: OverTimeType,
                    OverTimeRate: OverTimeRate,
                    Active: Active
                });
            /* $("#CountryModal").modal('hide')*/
            $.ajax({
                type: "POST",
                data: Data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/PayRoll/UpdateOverTimeSetup",
                success: onSuccessUpdateManagement,
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong to Insert Data!',
                    });
                },
                cache: false,
            });
        }
        function onSuccessUpdateManagement(data) {
            Swal.fire({
                icon: 'info',
                title: 'Info',
                text: 'Your work has been Updated.',
            }).then(function () {
                location.reload(true);
            });
            Mode = "";
            clearfields();
            LoadingLoanTypeDetails();

        }


        function Delete(ID) {
            if (confirm('Are you sure to Delete this record ?')) {

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: "/PayRoll/DeleteOverTimeSetup/" + ID,
                    success: function (data) {

                        LoadingLoanTypeDetails();

                    }

                });
            }
        }

        function clearfields() {
            $(".updateTask").hide();
            $("#AddTask").show();
            $("#OverTimeType").val("");
            $("#OverTimeRate").val("");
           
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

    </script>
}
